<section class="splashed-page">
  <h1 class="app-title"> Robert's Budget </h1>

  <%= link_to "Log In", new_user_session_path, class: "splashed-btn" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "splashed-btn" %>
</section>